body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

footer {
    background-color: #333;
    color: white;
}

#projects .card {
    margin-bottom: 30px;
}

#contact a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

#about img {
    border-radius: 50%;
    max-width: 200px;
    height: 200px;
}
